/* Основные стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f8ff;
}



h1 {
    color: #1900ff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

p {
    font-size: 18px;
    margin: 20px 0;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
    border: 3px solid #d32f2f;
}
